#!/bin/sh

alias cp='cp -i'
alias exut='exit'
alias exot='exit'
alias egrep='egrep --color=yes'
alias fgrep='fgrep --color=yes'
alias grep='grep --color=yes'
alias irssi='tmux rename-window irssi; sudo -u elliott HOME=/home/elliott irssi'
alias ls='ls -F --color=yes'
alias mv='mv -i'
alias rm='rm -i'
alias rsyncme='rsync -vaogHDSxP --no-inc-recursive'
alias sagent="sshagent_init"
alias vi='vim'
alias vim='vim -X'
