alias exut='exit'
alias exot='exit'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias vi='vim'
alias vim='vim -X'
alias ls='ls -F --color=yes'
alias rsyncme='rsync -vaogHDSxP --no-inc-recursive'
