#!/bin/sh

EDITOR=/usr/bin/vim
HOSTNAME=$(hostname)
LANG=en_US.UTF-8
OS_TYPE=$(uname)
PATH=${HOME}/scripts:/sbin:${PATH}
unset USERNAME
if [ "${OS_TYPE}" = "Darwin" ]; then
  LESSCLOSE="lessclose.sh %s %s"
  LESSOPEN="|lesspipe.sh %s"
  local HB=${HOME}/homebrew
  PATH=${HB}/bin:${HB}/sbin:${HB}/opt/coreutils/libexec/gnubin:${PATH}
else
  LESSCLOSE="lessclose %s %s"
  LESSOPEN="|lesspipe %s"
fi

if [ $(which dircolors 2>&1 >/dev/null) ]; then
  if [ -r ${HOME}/.dircolors ]; then
    eval "$(dircolors -b ${HOME}/.dircolors)"
  else
    eval "$(dircolors -b)"
  fi
fi

export EDITOR HOSTNAME LANG LESSCLOSE LESSOPEN LS_COLORS OS_TYPE PATH TERM
