[submodule ".vim/powerline"]
	path = .vim/powerline
	url = https://github.com/Lokaltog/powerline
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
